@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #e9ebec;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  max-width: 28rem; /* 24rem is approximately 384px, adjust as needed */
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
  background-color: white;
}

* {
  box-sizing: border-box;
}
